
.container {
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }

.title {
  display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.levo{
  float: left;
  right: 50px;
  width: 45%;
 text-align: right;
  padding: 10px;
  
}

.desno{
  float: right;
  left: 50px;
  width: 45%;
 
  padding: 10px;
  text-align: justify;
  direction: ltr;
}

a:link, a:visited {
  background-color: white;
  color: blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#line {
  height: 560px;
    width: 4px;
    position: relative;
    background-color: rgba(76, 112, 55, 0.411) ;
}
.flex{
  display: flex;
  justify-content: center;
}

.krugPrvi{
  border-radius: 50%;
  position: absolute;
  border: 6px solid rgb(76,112,55);
  top: -6px;
  left: 2px;

}

.krugDrugi{
  border-radius: 50%;
  position: absolute;
  border: 6px solid rgb(76,112,55);
  top: -6px;
  left: -6px;
}

.krugTreci{
  border-radius: 50%;
  position: absolute;
  border: 6px solid rgb(76,112,55);
  top: -6px;
  left: 2px;
}

.krugCetvrti{
  border-radius: 50%;
  position: absolute;
  border: 6px solid rgb(76,112,55);
  top: -6px;
  left: -6px;
}

.krugPeti{
  border-radius: 50%;
  position: absolute;
  border: 6px solid rgb(76,112,55);
  top: -6px;
  left: 2px;
}

.crtaPrva{
  position: absolute;
    border: 2px solid rgba(76, 112, 55, 0.411);
    width: 8px;
    top: 39px;
    right: 0px;
}

.crtaDruga{
  position: absolute;
    border: 2px solid rgba(76, 112, 55, 0.411);
    width: 8px;
    top: 39px;
    left: 0px;
}

.crtaTreca{
  position: absolute;
    border: 2px solid rgba(76, 112, 55, 0.411);
    width: 8px;
    top: 182px;
    left: 0px;
}

.crtaCetvrta{
  position: absolute;
    border: 2px solid rgba(76, 112, 55, 0.411);
    width: 8px;
    top: 247.5px;
    right: 0px;
}

.crtaPeta{
  position: absolute;
  border: 2px solid rgba(76, 112, 55, 0.411);
  width: 8px;
  top: 307px;
  left: 0px;
}

.crtaSesta{
  position: absolute;
  border: 2px solid rgba(76, 112, 55, 0.411);
  width: 8px;
  top: 378px;
  right: 0px;
}

